.dropdown-date-time-picker{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;

    select{
        height: 2.5em;
    }

    input{
        width: auto;
        flex:1;
    }
}